<body>
    <header>
        <div class="logo-container">
            <!--Logo ekle ya da site adını yaz-->
            <h3 class="logo">Currency Always Change</h3>
        </div>
        <nav>
            <ul class="nav-links">
                <li>
                    <a class="nav-link" href="#">Page#1</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Page#2</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Page#3</a>
                </li>
            </ul>
        </nav>

        <div class="cart">
            <!--Başka bir şey ekle-->
        </div>
        </header>

        <main>
            <section class="presentation">
                <div class="introduction">
                    <div class="intro-text">
                        <h1>Welcome</h1>
                        <p>
                            Currency ile ilgili açıklamaları yaz
                        </p>
                    </div>
                    <div class="cta">
                        <button routerLink="/currency" class="cta-select">Choose Currency</button>
                        <button class="cta-add">Add to Currency</button>
                    </div>
                </div>
                <div class="cover">
                    <img src="../../../assets/img/currency.jpg" alt="currency">
                </div>
            </section>

            <div class="currency-select">
                <img src="../../../assets/img/arrow-left.svg" alt="">
                <img src="../../../assets/img/dot.svg" alt="">
                <img src="../../../assets/img/dot-full.svg" alt="">
                <img src="../../../assets/img/dot-full.svg" alt="">
                <img src="../../../assets/img/arrow-right.svg" alt="">
            </div>

            <img class="big-circle" src="../../../assets/img/big-eclipse.svg" alt="">
            <img class="big-circle" src="../../../assets/img/mid-eclipse.svg" alt="">
            <img class="big-circle" src="../../../assets/img/small-eclipse.svg" alt="">

        </main>

</body>